---
import GradientHeader from "@/components/ui/GradientHeader.astro";
---

<section class="mx-0 my-24 w-full lg:mx-auto lg:w-[60%]" id="config">
  <GradientHeader paddingBottom="pb-2">PC-Konfigurationen</GradientHeader>
  <p class="mt-0 text-xl font-semibold text-blue-700">
    Wir konfigurieren und bauen Ihren Traum-PC. Wir finden für Sie den
    richtigen, unabhängig von Hersteller und System. Wir beraten und bauen für
    Sie den perfekten Computer, egal ob Spiele-, Office-, oder
    Videobearbeitungs-PC. Wir konfigurieren Ihren Computer für Ihre Bedürfnisse.
  </p>
  <div class="my-16 grid grid-cols-1 gap-10">
    <p class="text-xl">
      Gerne übernehmen wir auch die Einrichtung Ihres neuen PCs inklusive
      Übertragung der alten Daten, Installation von Programmen sowie einrichtung
      Ihrer E-Mail Adressen.
    </p>
  </div>
  <div class="my-16 grid grid-cols-1 gap-10">
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-3">
      <div>
        <p class="mt-0 text-xl font-semibold text-blue-700">
          Sichern Sie sich ab.
        </p>
        <p class="py-1 text-xl">
          Unsere Elektronik-Versicherungen von Wertgarantie
        </p>
        <p class="py-1 text-xl">
          Sichern Sie Ihre liebsten Elektronikgeräte mit den Produkten von
          WERTGARANTIE ab.
        </p>
        <p class="py-1 text-xl">
          Egal ob Smartphones, Computer, Laptops oder Fernseher - unsere
          Produkte schützen Ihre Lieblinge immer und überall.
        </p>
      </div>
      <video
        src="/videos/RElektro_FINAL_03062101.mp4"
        class="col-span-2 max-h-112.5 rounded-lg object-cover"
        width={"auto"}
        height={900}
        muted
        loop
        playsinline
        controls
        autoplay></video>
    </div>
    <h4 class="mt-0 py-2 text-xl font-semibold text-blue-700">
      Versicherungsvorteile auf einen Blick
    </h4>
    <div class="my-3 grid grid-cols-1 gap-10 md:grid-cols-3">
      <div class="flex flex-col items-center rounded-xl p-2 text-center ring">
        <h5 class="py-1 text-xl">Jederzeit erreichbar</h5>
        <p>
          WERTGARANTIE ist für Sie zu jeder Zeit da und hilft Ihnen stets
          weiter. Sie erreichen WERTGARANTIE online oder telefonisch. Kommen Sie
          auch gerne zu uns, wir helfen Ihnen gerne weiter.
        </p>
      </div>
      <div class="flex flex-col items-center rounded-xl p-2 text-center ring">
        <h5 class="py-1 text-xl">Sorgenfreier Schutz</h5>
        <p>
          Ihre Lieblingsgeräte sind mit WERTGARANTIE jederzeit und weltweit
          gegen Reparaturkosten und Diebstahl geschützt.
        </p>
      </div>
      <div class="flex flex-col items-center rounded-xl p-2 text-center ring">
        <h5 class="py-1 text-xl">Zuverlässiger Service</h5>
        <p>
          Wir bearbeiten Schäden schnell und unkompliziert. Bereits mehr als 7
          Millionen Kunden vertrauen dem Service von WERTGARANTIE.
        </p>
      </div>
    </div>
    <h3 class="text-xl font-semibold text-blue-700">
      Alles neu und ungewohnt?
    </h3>
    <p class="py-1 text-xl">
      Das muss nicht sein! Möchten Sie Ihre gewohnte Arbeitsumgebung nicht
      verlieren, übernehmen wir den Umzug Ihrer Daten und Programme für Sie. Sie
      genießen das hohe Arbeitstempo des neuen Computers in Ihrer gewohnten
      Arbeitsumgebung.
    </p>
  </div>
  <div class="my-16 grid grid-cols-1 gap-10 lg:grid-cols-2">
    <a
      href="/Kontakt"
      class="group relative overflow-hidden rounded-lg border border-gray-100 bg-gray-100 px-10 py-5 font-medium text-gray-600 shadow-inner"
    >
      <span
        class="ease absolute top-0 left-0 h-0 w-0 border-t-2 border-gray-600 transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute right-0 bottom-0 h-0 w-0 border-b-2 border-gray-600 transition-all duration-200 group-hover:w-full"
      ></span>
      <span
        class="ease absolute top-0 left-0 h-0 w-full bg-gray-600 transition-all delay-200 duration-300 group-hover:h-full"
      ></span>
      <span
        class="ease absolute bottom-0 left-0 h-0 w-full bg-gray-600 transition-all delay-200 duration-300 group-hover:h-full"
      ></span>
      <span
        class="absolute inset-0 h-full w-full bg-gray-900 opacity-0 delay-300 duration-300 group-hover:opacity-100"
      ></span>
      <span
        class="ease relative flex h-full w-full items-center justify-center text-2xl transition-colors delay-200 duration-300 group-hover:text-white"
      >
        Schreiben Sie uns
      </span>
    </a>
  </div>
</section>
