---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Erfolg">
  <div class="h-screen text-center text-5xl font-bold text-green-700">
    Wir haben Ihre Nachricht erhalten und werden uns mit Ihnen in Verbindung
    setzen.
  </div>
</BaseLayout>
