---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Fehler" subtitle="Da hat etwas nicht funktioniert!">
  <div class="h-screen text-center text-5xl font-bold text-red-700">
    Leider konnte Ihre Mail nicht verschickt werden. <br />
    Bitte prüfen Sie Ihre Eingaben und versuchen Sie es später noch einmal. <br
    />
    Sie können uns auch innerhalb unserer Öffnungszeiten telefonisch erreichen.
  </div>
</BaseLayout>
