---
import "../globals.css";

import Footer from "@/components/Footer";
import { Navbar } from "@/components/Header";

interface Props {
  title?: string;
  frontmatter?: { title?: string };
}

const { title, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Computer Extra GmbH | {title ? title : frontmatter?.title}</title>
  </head>
  <body class="flex min-h-screen flex-col antialiased">
    <header class="container mx-auto">
      <Navbar client:only />
    </header>
    <main class="container mx-auto mt-5 grow">
      <slot />
    </main>
    <Footer client:only />
  </body>
</html>
