---
import "../globals.css";

import ScrollToTopButton from "@/components/ui/ScrollToTopButton";
import Menu from "@/components/Menu";

import Posthog from "@/components/posthog.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  subtitle?: string;
  frontmatter?: { title?: string };
}

const { title, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Computer Extra GmbH | {title ? title : frontmatter?.title}</title>

    <Posthog />
  </head>
  <body class="scroll-smooth antialiased">
    <ScrollToTopButton client:only />
    <Menu client:only />
    <slot />
    <Footer />
  </body>
</html>
