---
import { cn } from "@/lib/utils";

interface Props {
  from?: string;
  to?: string;
  fontSize?: string;
  paddingBottom?: string;
  className?: string;
}

const {
  from = "from-blue-900",
  to = "to-blue-500",
  fontSize = "text-4xl",
  paddingBottom = "pb-10",
  className,
} = Astro.props;
---

<h2
  class={cn(
    fontSize,
    "font-bold",
    paddingBottom,
    "text-transparent bg-clip-text hyphens-manual bg-linear-to-br",
    from,
    to,
    className
  )}
>
  <slot />
</h2>
