---
interface Props {
  to: string;
}

const { to } = Astro.props;
---

<a
  href={to}
  class="group relative inline-flex items-center justify-center overflow-hidden rounded-full border-2 border-blue-500 bg-white p-4 px-6 py-3 font-medium text-blue-600 shadow-md transition duration-300 ease-out"
>
  <span
    class="ease absolute inset-0 flex h-full w-full -translate-x-full items-center justify-center bg-blue-600 text-white duration-300 group-hover:translate-x-0"
  >
    <svg
      class="h-6 w-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
    </svg>
  </span>
  <span
    class="ease absolute flex h-full w-full transform items-center justify-center text-blue-600 transition-all duration-300 group-hover:translate-x-full"
  >
    <slot />
  </span>
  <span class="invisible relative">
    <slot />
  </span>
</a>
